.container {
  padding: 4.8rem 5.6rem 4.8rem 5.6rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boardTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.title {
  font-weight: 700;
  font-size: 3.2rem;

  color: var(--dark-brown);

  outline: transparent;
}

.profilePicture {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 99.9rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.filter > * {
  height: auto;
}

.kanban {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 4.8rem;
  flex-wrap: wrap;
}

.kanbanSection {
  flex: 1;
  border-radius: 0.8rem;
  padding: 1.4rem;
  transition: all 0.3s;
  height: min-content;
}

.kanbanSectionTitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;

  color: var(--dark-brown);
  text-align: start;
  margin-bottom: 2.4rem;
}

.kanbanSectionContent {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex: 1;
}
